RewriteEngine On

# RewriteCond %{HTTP_HOST} ^paginaweb.com [NC]
# RewriteRule ^(.*)$ https://www.paginaweb.com/$1 [L,R=301]

# RewriteCond %{HTTPS} off$
# RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

RewriteCond $1 !^(index\.php|public|\.txt) 
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?$1
Options -Indexes
IndexIgnore *

